.wrapper {
  font-family: "Cousine", monospace;
  color: var(--color-3);
  width: 100%;
opacity: 0;
  animation: appear 5s  1s forwards linear;
}

@keyframes appear {
  0%{
    opacity: 0;
  }

  90%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

.wrapper p {
  font-size: 16px;
  text-align: center;
  margin-bottom: 5px;
}

.daysLeft {
  // text-indent: -1%;

  @media (min-width: 1200px) and (max-width: 1600px) {
    display: flex;
    column-gap: 30px;
  }
}

.sheet {
  margin-top: auto;
  padding: 8px;

  .sheet {
    background-color: transparent;
  }

  .days {
    font-weight: bold;
    font-size: 32px;
    line-height: 1;
    font-family: "Orbitron", sans-serif;

    .daysLeft {
      justify-content: center;
    color: #ffc9f3;
    }
  }

  .hours,
  .minutes,
  .seconds {
    font-size: 24px;
    line-height: 1;
    font-family: "Orbitron", sans-serif;
    color: #ffc9f3;

    @media screen and (max-width: 600px) {
      font-size: 1rem;
    }
  }
}