@import url("https://fonts.googleapis.com/css2?family=Cousine:wght@700&family=Roboto:wght@400;500;700&display=swap");
html,
body {
  --color-1: #161618;
  --color-2: #e5b648;
  --color-3: #ffffff;

  --sidebarWidth: 350px;

  font-family: "Orbitron", sans-serif;
  overflow-y: hidden;
  overflow-x: hidden;
}

@font-face {
  font-family: "Digital";
  src: url("/fonts/DS-DIGI.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
}

*[class*="nihon"] * {
  font-family: "Digital", sans-serif;
}

html {
  scroll-behavior: smooth;
  width: 100vw;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  background-color: #111;
  font-size: 75%;
  overflow-x: hidden;
  color: var(--color-1);
}

li {
  list-style: none;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.card25 {
  position: absolute;
  width: 500px;
  height: 800px;
  border: 10px solid #da456fc4;
  margin: 0 auto;
  background-image: url("../img/b-2025/3.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #e6f0e6;
  z-index: 999999999999999999;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card25 .text-container {
  width: 80%;
  height: 80%;
  margin: auto;
}

.card25 .text-container #head {
  font-family: "Nobile", sans-serif;
  font-size: 1.5em;
  margin: 60px auto 60px auto;
}

.card25 p {
  font-size: 1.1em;
  line-height: 1.4;
  font-family: "Nobile";
  color: #331717;
  font-style: italic;
  text-align: center;
  margin: 30px auto 0px auto;
}

.card25 .front {
  position: absolute;
  width: 500px;
  height: 800px;
  margin: -10px 0px 0px -10px;
  backface-visibility: hidden;
  background-size: contain;
  transform-style: preserve-3d;
  transform-origin: 0% 50%;
  transform: perspective(800px) rotateY(0deg);
  transition: all 0.8s ease-in-out;
}

.card25.hovered .front {
  transform: perspective(800px) rotateY(-170deg);
  background-color: #41718d;
}

.card25.hovered .back {
  transform: perspective(800px) rotateY(-170deg);
  box-shadow: 7px 0px 5px 0px rgba(0, 0, 0, 0.3),
    inset 2px 0px 15px 0px rgba(0, 0, 0, 0.1);
  background-color: #d2dcd2;
}

.card25.hovered .click {
  opacity: 0;
}

.card25 .back {
  position: absolute;
  width: 500px;
  height: 800px;
  margin: -10px 0px 0px -10px;
  backface-visibility: visible;
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.1));
  transform-style: preserve-3d;
  transform-origin: 0% 50%;
  transform: perspective(800px) rotateY(0deg);
  transition: all 0.8s ease-in-out;
  background-color: #e6f0e6;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1);
}

.imgset {
  position: relative;
  z-index: 1;
  margin-bottom: 0;
  height: 100%;
}

.imgset img {
  box-shadow: 0px 6px 11px 7px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  height: 100%;
}

.btn-phone {
  position: fixed;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;

  font-size: 21px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 15px;
  border: none;
  background-color: #00000050;
  color: #fff;
  transition: all 0.5s;
  transform-origin: center;
  cursor: pointer;

  &:hover {
    background-color: #f3ff94;
    color: #222;
    transform: translateX(-50%) scale(0.9);
  }
}

.phone {
  width: 400px;
  height: 700px;
  border: 10px solid #ffffff;
  border-radius: 30px;
  background: url();
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: 0 10px 20px #00000025;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999999999;

  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 30px 30px 5px;

  overflow-y: hidden;
  overflow-x: hidden;
}

.phone .hora {
  color: #fff;
  font-size: 60px;
  font-weight: 700;
  text-shadow: 2px 2px #000000;
}

.phone .menu {
  margin-top: 40px;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr;
  gap: 20px 10px;

  padding: 15px;
  background-color: #00000050;
  border-radius: 10px;
  height: fit-content;
  backdrop-filter: blur(5px);

  .item {
    display: flex;
    flex-direction: column;
    gap: 10px;

    p {
      font-size: 16px;
      color: #ffffff;
      text-align: center;
      letter-spacing: 1px;
    }
  }

  button {
    border-radius: 20px;
    border: none;
    height: 75px;
    width: 75px;
    cursor: pointer;
    transition: all 0.5s;

    &:hover {
      transform: rotate(-5deg) scale(0.9);
    }
  }
}
.actions {
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: center;
  margin-top: auto;

  button {
    border: none;
    background-color: transparent;
    color: #fff;
  }
}

.lyrics {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  right: 30px;
  background-color: #fff;
  padding: 30px;
  z-index: 9999999999;

  max-height: 90vh;
  overflow-y: auto;

  b {
    margin: 10px 0;
    display: block;
  }
  .close {
    margin-left: auto;
    border: none;
    padding: 10px;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;

    &:hover {
      background-color: #f3ff94;
    }
  }
}

@media(max-width: 768px){
  .lyrics {
    right: initial;
    left: 50%;
    transform: translate(-50%,-50%);
  }
}

.action-page {
  background: linear-gradient(-45deg, rgb(31, 15, 75), rgb(106, 47, 188));
  height: 100%;
  width: 100%;

  position: absolute;
  top: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  .close {
    margin-left: auto;
    border: none;
    padding: 10px;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    color: #ffffff;
    background-color: transparent;

    &:hover {
    }
  }
}

.album {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;

  .picture {
    text-align: center;

    img {
      max-width: 300px;
    }
  }

  .actions {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    margin-top: auto;
    color: #fff;
  }
}


button{
	cursor: pointer;
}